@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500|Oswald:200,400,600');

*{
	transition: all 1.3s ease;
}


.centercard{
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;

	background: #ecf0f1;
	background-image: url('https://images.unsplash.com/photo-1450648757538-632c22bfdb7c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c15261caa9fe31aa7f9793fb5a0c5547&auto=format&fit=crop&w=1950&q=80');
	background-size: cover;
	background-position: center;

	width: 45vh;
	height: 60vh;
	top: 20%;



}


.link{
	width: 40%;
	height: 9%;
	top: 60%;

	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;

	border: none;
	border-radius: 10px;
	box-shadow: 0px 0px 10px black;
	background-color: #3B5998;
	color: white;
	font-family: 'Inconsolata', monospace;
}

.logo{
	width: 32%;
	height: 10%;
	top: 6%;
	position: absolute;
	left: -65%;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.smalllogo{
	width: 300px;
	height: 130px;

	top: 40%;
	right: 0;
	left: -75%;
}

.hiddenbutton{
	display: none;
}

.HeaderCard{
	border-radius: 0px;
	width: 80%;
	height: 35%;
	top: 0%;
	position: absolute;

	/* background-image: url('https://images.unsplash.com/photo-1478147427282-58a87a120781?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=aee95d9fe8925d8a4ef01e22c04e714c&auto=format&fit=crop&w=1950&q=80');
	background-size: cover;
	background-position: 100% 65%;
	background-repeat: no-repeat; */

	/* background-image: url('assets/nomusicnolife.jpg');
	background-size: cover;
	background-position: 100% 55%;
	background-repeat: no-repeat; */
	background-position: 100% 30%;




}

.MainBackground{
	position: absolute;
	top: 0;
	left: 0;
	width: 80%;
	height: 100vh;
	background: linear-gradient(#eee,#F2F1EF);

	overflow: hidden;
	padding-left: 10%;
	padding-right: 10%;
}

.LoginBackground{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-image: url(https://images.unsplash.com/photo-1489641493513-ba4ee84ccea9?ixlib=rb-0.3.5&s=f2ab6b022fb9137299b5a40985f73c1c&auto=format&fit=crop&w=1950&q=80);
	background-repeat:no-repeat;

}

.unseenbox{
	position: absolute;
	width: 80%;
	min-width: 80%;
	height: 61%;
	top: 35%;
	padding-top: 20%;
	background-color: #fff;
	overflow-y: scroll;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  justify-content: space-around;

}


h1{
	font-family: 'Abril Fatface', cursive;
	color: #fff;
	font-size: 74px;
	letter-spacing: 10px;
	padding: 2%;
	margin-left: 7%;
	margin-top: 20vh;

}

.topButtons{
	position: absolute;
	margin-top: -25vh;
}

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
	border-radius: 10px;
	font-size: 21px;
	color: #fff;
	text-decoration: none;
	text-align: left;
	border: none;
	font-family: 'Abril Fatface', cursive;
	height: 5vh;
	width: 20vw;

}

.red
{
	background-image: url(https://images.unsplash.com/photo-1506423456648-c11ccb27338d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d2d54a7e04988455d150a1c22a350eb0&auto=format&fit=crop&w=1955&q=80);
	border-bottom: 5px solid #BDC3C7;
	text-shadow: 0px -2px black;
	background-size: cover;
	background-position: center;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;

}



.homeSearch{
	background: #BDC3C7;
	border: none;
	border-radius: 5px;
	margin-top: -17vh;
	padding: 35px;
	width: 70vw;
	position: absolute;
	text-align: center;
	color: #F2F1EF;
	font-size: 30px;
		font-family: 'Inconsolata', monospace;
}

.homeSearch::-webkit-input-placeholder{
	color: white;
}







.unseenbox::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.FinalCard{
	width: 370px;
	height: 450px;
	display: block;

	overflow: hidden;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.repeatbox{
	width: 100%;
	height: 100%;

	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

  background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center center fixed !important;
	display: block;



}

.HideGrid{
	display: none;
}


.bottomroom{
	width: 100%;
	height: 70%;
}


h1{
	font-family: 'Abril Fatface', cursive;
	color: #fff;
	font-size: 74px;
	letter-spacing: 10px;
	padding: 2%;
	margin-left: 7%;
	margin-top: 20vh;


}


.homeSearch{
	background-color: #fff;
	border: none;
	border-radius: 5px;
	margin-top: 25vh;
	padding: 25px;
	width: 20%;
	margin-right: auto;
	margin-left: auto;
	left: 60%;
	right: 0%;
	position: absolute;

}


.playbox{
	width: 100%;
	height: 15vh;
	display: block;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0 -5px 30px -1px black;
	bottom: 0;
	background-color: rgba(149, 175, 192, 0.5);


}


.songName{
	text-align: left;

	margin-left: 110px;

	font-family: 'Inconsolata', monospace;
	color: #D2D7D3;
	text-shadow: 1px 1px 2px black;
	font-size: 16px;
	margin-top: 2.5vh;


	font-family: 'Montserrat', sans-serif;
	color: black;
	font-size: 21px;
	font-weight: 400;
	margin-left: 9vw;
	margin-top: -6vh;

}

.albumName{
	text-align: left;

	margin-left: 110px;
}

.profilePic{
	width: 73px;
	height: 73px;

	margin-left: 9vw;

	font-family: 'Oswald', sans-serif;
	color: black;
	font-size: 14px;
	font-weight: 600;
	margin-top: -1vh;
}

.optionPin{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #E4F1FE;
	display: block;
	margin: 20px 20px;
	box-shadow: 0px 0px 15px 2px black;

}

.albumCover{

position: absolute;
border-radius: 50%;
width: 95px;
height: 95px;
object-fit: cover;
margin-left: 62px;
margin-top: -156px;

}

.turnVinyl{
	width: 220px;
	height: 220px;

	border-radius: 50%;
	width: 40px;
	height: 40px;
	object-fit: cover;

	margin-left: 30px;
	position: absolute;
	margin-top: -5.44vh;
}

.vinyl{
	width: 100px;

	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	display: block;

	border-radius: 50%;
	margin-top: 3vh;


}

.turnVinyl{
	border-radius: 50%;
	width: 100px;
	height: 100px;
	display: block;

	left: 0;
	right: 0;
	margin-left: 1vw;
	margin-right: auto;
	margin-top: 1.2vw;


}

.hoveredBox{
	width: 370px;
	height: 312px;
	background-color: rgba(0, 0, 0, 0.5);
	display: block;
	position: absolute;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;



}

.turnVinyl:hover{


	-webkit-animation:spin 6s linear infinite;
	 -moz-animation:spin 6s linear infinite;
	 animation:spin 6s linear infinite;

}


@media (min-width: 320px) and (max-width: 480px){
}















@media (min-width: 320px) and (max-width: 480px) {

	.smalllogo{
		font-size: 21px;
		text-align: center;
		width: 80%;

	}

	.homeSearch{
		left: 0%;
		width: 50%;
		margin-top: 30vh;

	}

	.unseenbox{
		margin-top: 8vh;

	}

}



@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
