@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Oswald:200,400,600');

/* START NAV BAR */
nav{
  background-color: #fff;
}

button{
  background: none;
}


nav .pushTheseLeft{
  float: left;
  width: 50%;
}

nav .pushTheseRight{
  float: right;
  width: 35%;
}

nav ul a{
  color: #EF2F49;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

nav ul a:hover{
  color: #747d8c;
  background: none;
}

nav .Sbadge{
  width: 14px;
  height: 14px;
  background-color: #7f8fa6;
  top: 16px;
  margin-left: 80px;
  line-height: 14.5px;
  padding-left: 3.5px;
  font-size:10px;
  position: absolute;
  color: #fff;
  border-radius: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

nav .brand-logo img{
  width: 45px;
  margin-top: 10px;
}


nav .searchSpan{
  background: url(https://a-v2.sndcdn.com/assets/images/header/search-dbfe5cb.svg) 0 0 no-repeat;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 25px;
  left: 120px;
}

nav input{
  background: #F2F2F2;
  padding-left: 50px;
  color: #666 !important;
  border-radius:5px;
  font-size: 14px;

  margin-left: 45%;
}

nav input:focus {
  border-bottom: none!important;
  box-shadow: none!important;
}

nav .sortByBrick{
  background: #F2F2F2;
  width: 110px;
  height: 45px;
  display: inline-block;
  margin-left: 150px;
  border-radius:5px;
  color: #666 !important;
  margin-top: 10px;
  line-height: 45px;
  padding-left: 20px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

nav .sortByBrick i{
  top: 2px;
  position: absolute;
  margin-left: 57px;
}

nav .profileImg img{
  width: 45px;
  margin-top: 10px;
  margin-left: 2vw;
  padding-left: 0vh;
  border-radius: 50px;
  object-fit: cover;
  border: 2px solid #D2D7D3;
}

/* END NAV BAR */

/* START HOME CONTENT */

.homeTitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 26px;
    color: #636e72;
}

.topBanner{
    background: url(https://images.unsplash.com/photo-1485579149621-3123dd979885?ixlib=rb-0.3.5&s=67bdfbe8d6230885767fad55d245a3b5&auto=format&fit=crop&w=1489&q=80);
    width: 100%;
    height: 450px;
    display: block;

    background-position: top;
    background-size: cover;

    padding-top: 110px;
    padding-left: 100px;
    color: #fff;

    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    text-shadow: 1px 1px 1px black;
    font-size: 52px;

    border-radius: 5px;
    box-shadow: 0px 0px 10px #8e8e8e;
}

hr{
    display: block;
    margin-left: 2%;
    border-width: 2px;
    width: 30%;
    background: #EF2F49 !important;
    height: 2px;
    border: none;
}

.halfimg{
    margin-left: 55%;
    top: 0;
    display: block;
    width: 45%;
    margin-top: -55.5vh;
    height: 450px;

    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.topBanner .learnMore{
    position: absolute;
    padding: 13px 23px;
    width: 180px;
    height: 46px;
    margin-top: -50px;
    font-size: 16px;
    line-height: 18px;

    font-size: 14px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border-radius: 3px;
    text-transform: uppercase;

    background-color: #EF2F49;
    color: #fff;

}

.topBanner  .flippedBtn{
    background-color: #fff;
    color: #EF2F49;
}

.scrollableBoi{
    display: inline-flex;
    overflow-y: hidden !important;
    overflow-x: scroll;
    width: 100%;
    height: 20px;
    padding: 20px;
}

.scrollableBoi::-webkit-scrollbar {
    display: none;
}

.venueCard{
    width: 300px;
    height: 390px;
    background-color: #f5f6fa;
    display: block;

    border-radius: 10px;
    box-shadow: 0px 3px 10px #e8e8e8;

    overflow: hidden;
}


.venueCard:hover{
    box-shadow: 0px 3px 20px #dcdde1;
}

.venueProfile{
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin-top: 40px;
  margin-left: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #8e8e8e;
}

.venueCard iframe{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: block;
}

.venueCard .venueName{
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-left: 120px;
  margin-top: -75px;
  display: block;

  text-overflow: ellipsis;
  overflow: hidden;
  width: 150px;
}

.venueCard .venueLocation{
    font-size: 12px;
    margin-left: 120px;
    margin-top: -0px;
    display: block;

    text-overflow: ellipsis;
    overflow: hidden;
    width: 150px;
}

.venueCard .stars{
  display: inline-flex;
  margin-left: 120px;
  margin-top: 5px;
  color: #e1b12c;
}

.venueCard .stars i{
  font-size: 21px;
}

.notLoggedInTxt{
  color: #2c3e50;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.notLoggedInTxt a{
  color: #EF2F49;
}




.GIGLCard{
    width: 350px;
    height: 450px;
    display: block;

    overflow: hidden;
}

.GIGLCard .toprofileimage{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: block;
  height: 67%;
  width: 100%;

  object-fit: cover;
  object-position: center;
  z-index: 0;
  box-shadow: 0px 0px 10px #8e8e8e;
}

.GIGLCard .overTopProfileImage{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: block;
  height: 67%;
  width: 100%;

  z-index: 9000;
  margin-top: -216px;
  top: 15px;
  position: relative;
  border-radius: 3px;

}

.showsblack{
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}

.overTopProfileImage a{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;

  top: 35%;
}

.overTopProfileImage a i{
  color: #EF2F49 !important;
}



.GIGLCard .toprofileimage:hover{
    box-shadow: 0px 3px 20px #dcdde1;
}
.GIGLCard .toprofileimage:active{
    box-shadow: 0px 3px 20px #dcdde1;
}



.GIGLCard .stars{
  display: inline-flex;
  color: #353b48;

  width: 90%;
  height: 10%;
  margin-top: 10px !important;
}

.GIGLCard .stars i{
  font-size: 16px;
  text-align: left;
}


.coremiddle{
    width: 100%;
    height: 63%;
    margin-top: 4%;
    display: flex;

    border-left: 1px solid #b2bec3;
    border-right: 1px solid #b2bec3;
    border-bottom: 1px solid #b2bec3;

    padding: 15px;
    box-shadow: 0px 0px 10px #8e8e8e;

}

.orangeVinyl{
    width: 100%;
    height: 95%;
    padding-top: 5px;
    object-fit: contain;
}

.generalVinyl{
    width: 100%;
    height: 95%;
    padding-top: 5px;
    object-fit: contain;
}

.albumcover{
    display: block;
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;

    margin-top: -80px;
    margin-left: 53px;
}

.spinVinyl{
  width: 50%;
  height: 100%;
  display: block;
      margin: 0;
}


.thisside{

    width: 50%;
    height: 180px;

    padding-top: 0%;
    padding-bottom: 0%;
    margin-top: 3%;
    margin-left: 3%;

}

.nPlaying{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: -2px;
}

.nPlaying  i{
      font-size: 12px;
      padding-top: 8px;
      position: absolute;
}


.infoIcon{
  font-size: 11px;
  color: #0984e3;
  margin-left: 4px;
  padding-top: 1px;
}

.Song{
    font-size: 24px;
    color: #2c3e50;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

    display: block;
    padding: 0px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    margin-top: -25px;
}

.smalelrsong{
  font-size: 18px;
  white-space: normal;
  margin-top: -20px;
    color: #a4b0be;
}

.Song span{
  color: #747d8c;
}

.Song span:hover{
  /* color: #65CFCF; */
  color: #EF2F49;
  cursor: pointer;
}

.songartist{
  font-size: 24px;
}

.Price{
    font-size: 12px;
    color: #2c3e50;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

    display: block;
    padding: 0px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    margin-top: 1px;
}

.PricEGig{
  margin-top: 3px;
  font-weight: 600;
  color: #b2bec3;
}

.splitter{
  display: inline-flex;
}
.imgsplit{
  width: 50% !important;
  height: 200px !important;
  box-shadow: none !important;
  border-radius: 0px !important;

  border-left: 1px solid #fff;
}

.Artist{
    font-size: 14px;
    color: #34495e;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}


.reviewtext{
    font-size: 13px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

}

.GIGLCard .bookNow{
  margin-top: 0%;
  width: 100%;
  height: 40px;

  border: none;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 12px;
  border:1px solid #EF2F49;
  color: #EF2F49;

  text-transform: uppercase;

  box-shadow: 0px 0px 3px #ced6e0;
}

.GIGLCard .bookdualnevune{
  margin-top: -5%;
}

.giglred{
  background-color: transparent;
  box-shadow: none;
}

.giglred i{
  font-size: 42px;
  color: #8e8e8e !important;

  padding-top: 33%;
  display: block;

}

.hearticon{
  float: right;
  display: block;
  margin-top: -3vh;
  font-size: 24px;

}

.redheart{
  color: #EF2F49 !important;
}



/* END HOME CONTENT */








/* ::::MEDIA QUERIES:::: */




/* Anything Bigger then a tablet */
@media (min-width: 1000px) {
  nav .brand-logo img{
    padding-left: 5vh;
    width: 75px;
    margin-top:1.7vh;
  }

  .GIGLCard {
    width: 260px;
    height: 300px;

    overflow: visible;
  }

  .thisside{
      margin-left: 0%;
      width: 100%;
  }

  .scrollableBoi{
    height: 55vh;
  }
}
