<div class="navbar-fixed">
  <nav class="white">
    <div class="nav-wrapper">

      <div class="pushTheseLeft">
        <a href="#" class="brand-logo"><img src="assets/pick.png" /></a>
        <ul class="hide-on-med-and-down">
          <li>
            <div class="row" id="topbarsearch">
              <div class="input-field col s6 s12">
                <span class="searchSpan"></span>
                <input type="text" placeholder="Search for venues" id="autocomplete-input" class="autocomplete">
              </div>
            </div>
          </li>
          <li><div class="sortByBrick">Sort By <i class="material-icons">keyboard_arrow_down</i></div></li>
        </ul>
      </div>

      <div class="pushTheseRight notLoggedInTxt" *ngIf="!loggedIn">
        <label class="hide-on-med-and-down">Welcome to GIGL, please <a>Login</a> or <a>Signup</a></label>
      </div>

      <div class="pushTheseRight" *ngIf="loggedIn">
        <ul class="hide-on-med-and-down">
          <li><a href="sass.html">Home</a></li>
          <li><a href="badges.html">My Gigs</a></li>
          <li><a href="collapsible.html">Messages <span class="Sbadge">4</span></a></li>
          <li><a href="collapsible.html">Help</a></li>

          <li  class="profileImg"><img src="https://scontent.fbne3-1.fna.fbcdn.net/v/t1.0-9/13882185_1354509061245524_9026815624279005373_n.jpg?_nc_cat=0&oh=07384bba46d0d316b0f73678e0715c5d&oe=5B5D2AFE" /></li>
        </ul>
      </div>

    </div>
  </nav>
</div>

<div class="container" style="width: 95%; padding-top: 3%;">
  <div class="row">
   <div class="col s12"><h1 class="homeTitle">Introducing GIGL Jams</h1></div>
  </div>

  <div class="row">
   <div class="col s12">
     <div class="topBanner">
       Laugh, Play, Jam. Together.
       <br /><br />
       <button class="learnMore">Learn More</button>
     </div>
   </div>
  </div>

  <div class="row">
   <div class="col s12"><h1 class="homeTitle">Venues near you</h1></div>
  </div>

  <div class="row scrollableBoi" dragScroll>
    <div class="col">

      <div class="GIGLCard">
        <img src="https://www.familiesmagazine.com.au/wp-content/uploads/2016/11/Christmas-at-Miami-Marketta-01.jpg" class="toprofileimage">

        <div class="overTopProfileImage"></div>

        <div class="coremiddle">

          <div class="thisside">
            <label class="nPlaying">Miami, Gold Coast</label>
            <i class="hearticon icon-heart" *ngIf="liked != 1" (mousedown)="fullHeart(1)"></i>
            <i class="hearticon redheart icon-heartfilled" *ngIf="liked == 1" (mousedown)="unfullHeart()"></i>
            <br />
            <label class="Song">Miami Marketta</label>
            <label class="Price">$122/hour <i class="material-icons infoIcon">info</i></label>

            <ul class="stars">
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star_half</i></li>
              <li><i class="material-icons">star_border</i></li>
              <li><i class="material-icons">star_border</i></li>
              <li><i class="material-icons">star_border</i></li>

              <li class="reviewtext"> &bull; 32 Reviews</li>
            </ul> <br />

            <button class="bookNow bookVenue">View Profile</button>
          </div>
        </div>
      </div>

    </div>
    <div class="col">

      <div class="GIGLCard">
        <img src="https://theweekendedition.com.au/wp-content/uploads/sites/6/2016/01/IMG_8324Garden-Kitchen-Bar-1500x936-c-center.jpg" class="toprofileimage">

        <div class="overTopProfileImage"></div>

        <div class="coremiddle">

          <div class="thisside">
            <label class="nPlaying">Broadbeach, Gold Coast</label>
            <i class="hearticon icon-heart" *ngIf="liked != 2" (mousedown)="fullHeart(2)"></i>
            <i class="hearticon redheart icon-heartfilled" *ngIf="liked == 2" (mousedown)="unfullHeart()"></i>
            <br />
            <label class="Song">Garden Kitchen & Bar</label>
            <label class="Price">$234/hour <i class="material-icons infoIcon">info</i></label>

            <ul class="stars">
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star_half</i></li>
              <li><i class="material-icons">star_border</i></li>
              <li><i class="material-icons">star_border</i></li>
              <li><i class="material-icons">star_border</i></li>

              <li class="reviewtext"> &bull; 84 Reviews</li>
            </ul> <br />

            <button class="bookNow bookVenue">View Profile</button>
          </div>
        </div>
      </div>

    </div>
    <div class="col">

      <div class="GIGLCard">
        <img src="http://www.ultimategoldcoast.com.au/wp-content/uploads/2014/01/Bobby-Alu-at-Soundlounge.jpg" class="toprofileimage">

        <div class="overTopProfileImage"></div>

        <div class="coremiddle">

          <div class="thisside">
            <label class="nPlaying">Currumbin, Gold Coast</label>
            <i class="hearticon icon-heart" *ngIf="liked != 3" (mousedown)="fullHeart(3)"></i>
            <i class="hearticon redheart icon-heartfilled" *ngIf="liked == 3" (mousedown)="unfullHeart()"></i>
            <br />
            <label class="Song">Soundlounge</label>
            <label class="Price">$67/hour <i class="material-icons infoIcon">info</i></label>

            <ul class="stars">
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star_half</i></li>
              <li><i class="material-icons">star_border</i></li>

              <li class="reviewtext"> &bull; 11 Reviews</li>
            </ul> <br />

            <button class="bookNow bookVenue">View Profile</button>
          </div>
        </div>
      </div>

    </div>

    <div class="col">

      <div class="GIGLCard">
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/07/86/23/f5/soutport-rsl-club.jpg" class="toprofileimage">

        <div class="overTopProfileImage"></div>

        <div class="coremiddle">

          <div class="thisside">
            <label class="nPlaying">Southport, Gold Coast</label>
            <i class="hearticon icon-heart" *ngIf="liked != 4" (mousedown)="fullHeart(4)"></i>
            <i class="hearticon redheart icon-heartfilled" *ngIf="liked == 4" (mousedown)="unfullHeart()"></i>
            <br />
            <label class="Song">RSL Southport</label>
            <label class="Price">$114/hour <i class="material-icons infoIcon">info</i></label>

            <ul class="stars">
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star_half</i></li>
              <li><i class="material-icons">star_border</i></li>
              <li><i class="material-icons">star_border</i></li>
              <li><i class="material-icons">star_border</i></li>

              <li class="reviewtext"> &bull; 29 Reviews</li>
            </ul> <br />

            <button class="bookNow bookVenue">View Profile</button>
          </div>
        </div>
      </div>

    </div>

    <div class="col">

      <div class="GIGLCard">
        <img src="https://gctstoreprod.s3.amazonaws.com/AtdwImages/9132879/201803201149/114914_1600x900_bba18ed79fdd496b8ce1ff803564d526.jpeg" class="toprofileimage">

        <div class="overTopProfileImage"></div>

        <div class="coremiddle">

          <div class="thisside">
            <label class="nPlaying">Burleigh Heads, Gold Coast</label>
            <i class="hearticon icon-heart" *ngIf="liked != 5" (mousedown)="fullHeart(5)"></i>
            <i class="hearticon redheart icon-heartfilled" *ngIf="liked == 5" (mousedown)="unfullHeart()"></i>
            <br />
            <label class="Song">Burleigh Brewing Company</label>
            <label class="Price">$124/hour <i class="material-icons infoIcon">info</i></label>

            <ul class="stars">
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star_half</i></li>
              <li><i class="material-icons">star_border</i></li>

              <li class="reviewtext"> &bull; 21 Reviews</li>
            </ul> <br />

            <button class="bookNow bookVenue">View Profile</button>
          </div>
        </div>
      </div>

    </div>


    <div class="col"></div>

  </div>


  <div class="row">
   <div class="col s12"><h1 class="homeTitle">Musicians Near You</h1></div>
  </div>

  <div class="row scrollableBoi" dragScroll>
    <div class="col">
      <div class="GIGLCard">
        <img src="https://static.spin.com/files/140129-jimi-hendrix-640x426.jpg" class="toprofileimage">

        <div class="overTopProfileImage"  (mouseenter)="activatePlay(1)" (mouseleave)="unactivatePlay()">
          <span class="showsblack"  *ngIf="playMode == 1" >
            <a class="giglred">
              <i class="icon icon-play" *ngIf="playing == 0" (mousedown)="isPlaying(1)"></i>
              <i class="material-icons" *ngIf="playing == 1" (mousedown)="isNotPlaying()">pause</i>
            </a>
          </span>
        </div>

        <div class="coremiddle">

          <!-- <div class="spinVinyl">
            <img src="assets/vinyl-orange.png" class="orangeVinyl" />
            <img src="https://3ten.org/wp-content/uploads/2017/12/rs-140385-hendrix-1800-1395235216-900x900.jpg" class="albumcover">
          </div> -->

          <div class="thisside">
            <label class="nPlaying">Psychedelic &bull; Rock</label>
            <i class="hearticon icon-heart" *ngIf="liked != 1" (mousedown)="fullHeart(1)"></i>
            <i class="hearticon redheart icon-heartfilled" *ngIf="liked == 1" (mousedown)="unfullHeart()"></i>
            <br />
            <label class="Song">Jimi Hendrix</label>
            <label class="Price">$26/hour <i class="material-icons infoIcon">info</i></label>

            <ul class="stars">
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star</i></li>

              <li class="reviewtext"> &bull; 43 Reviews</li>
            </ul> <br />

            <button class="bookNow">View Profile</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="GIGLCard">
        <img src="https://static1.squarespace.com/static/563326b4e4b0ca3d190f1ae7/56f4bb58b2d7c7a56b43abc4/57739e97725e258679206903/1467195083441/Arterium_XR_089b.jpg?format=750w" class="toprofileimage">

        <div class="overTopProfileImage" (mouseenter)="activatePlay(2)" (mouseleave)="unactivatePlay()">
          <span class="showsblack"  *ngIf="playMode == 2">
            <a class="giglred">
              <i class="icon icon-play" *ngIf="playing == 0" (mousedown)="isPlaying(2)"></i>
              <i class="material-icons" *ngIf="playing == 2" (mousedown)="isNotPlaying()">pause</i>
            </a>
          </span>
        </div>

        <div class="coremiddle">

          <div class="thisside">
            <label class="nPlaying">Soft &bull; Folk</label>
            <i class="hearticon icon-heart" *ngIf="liked != 2" (mousedown)="fullHeart(2)"></i>
            <i class="hearticon redheart icon-heartfilled" *ngIf="liked == 2" (mousedown)="unfullHeart()"></i>
            <br />
            <label class="Song">Xavier Rudd</label>
            <label class="Price">$16/hour <i class="material-icons infoIcon">info</i></label>

            <ul class="stars">
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star</i></li>

              <li class="reviewtext"> &bull; 23 Reviews</li>
            </ul> <br />

            <button class="bookNow">View Profile</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="GIGLCard">
        <img src="http://www.guitarnoise.com/images/features/pink-floyd-wallpaper-1024x585.jpg" class="toprofileimage">

        <div class="overTopProfileImage" (mouseenter)="activatePlay(3)" (mouseleave)="unactivatePlay()">
          <span class="showsblack"  *ngIf="playMode == 3">
            <a class="giglred">
              <i class="icon icon-play" *ngIf="playing == 0" (mousedown)="isPlaying(3)"></i>
              <i class="material-icons" *ngIf="playing == 3" (mousedown)="isNotPlaying()">pause</i>
            </a>
          </span>
        </div>


        <div class="coremiddle">

          <div class="thisside">
            <label class="nPlaying">Psychedelic &bull; Rock</label>
            <i class="hearticon icon-heart" *ngIf="liked != 3" (mousedown)="fullHeart(3)"></i>
            <i class="hearticon redheart icon-heartfilled" *ngIf="liked == 3" (mousedown)="unfullHeart()"></i>
            <br />
            <label class="Song">Pink Floyd</label>
            <label class="Price">$21/hour <i class="material-icons infoIcon">info</i></label>

            <ul class="stars">
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star</i></li>

              <li class="reviewtext"> &bull; 32 Reviews</li>
            </ul> <br />

            <button class="bookNow">View Profile</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="GIGLCard">
        <img src="https://i1.wp.com/www.sunrecords.com/wp-content/uploads/2012/03/cash.jpg" class="toprofileimage">

        <div class="overTopProfileImage" (mouseenter)="activatePlay(4)" (mouseleave)="unactivatePlay()">
          <span class="showsblack" *ngIf="playMode == 4">
            <a class="giglred">
              <i class="icon icon-play" *ngIf="playing == 0" (mousedown)="isPlaying(4)"></i>
              <i class="material-icons" *ngIf="playing == 4" (mousedown)="isNotPlaying()">pause</i>
            </a>
          </span>
        </div>

        <div class="coremiddle">

          <div class="thisside">
            <label class="nPlaying">Country</label>
            <i class="hearticon icon-heart" *ngIf="liked != 4" (mousedown)="fullHeart(4)"></i>
            <i class="hearticon redheart icon-heartfilled" *ngIf="liked == 4" (mousedown)="unfullHeart()"></i>
            <br />
            <label class="Song">Johnny Cash</label>
            <label class="Price">$32/hour <i class="material-icons infoIcon">info</i></label>

            <ul class="stars">
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star</i></li>

              <li class="reviewtext"> &bull; 54 Reviews</li>
            </ul> <br />

            <button class="bookNow">View profile</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="GIGLCard">
        <img src="https://f4.bcbits.com/img/0010184835_10.jpg" class="toprofileimage">

        <div class="overTopProfileImage" (mouseenter)="activatePlay(5)" (mouseleave)="unactivatePlay()">
          <span class="showsblack" *ngIf="playMode == 5">
            <a class="giglred">
                <i class="icon icon-play" *ngIf="playing == 0" (mousedown)="isPlaying(2)"></i>
                <i class="material-icons" *ngIf="playing == 2" (mousedown)="isNotPlaying()">pause</i>
            </a>
          </span>
        </div>

        <div class="coremiddle">

          <div class="thisside">
            <label class="nPlaying">Light &bull; Folk</label>
            <i class="hearticon icon-heart" *ngIf="liked != 5" (mousedown)="fullHeart(5)"></i>
            <i class="hearticon redheart icon-heartfilled" *ngIf="liked == 5" (mousedown)="unfullHeart()"></i>
            <br />
            <label class="Song">Sufjan Stevens</label>
            <label class="Price">$16/hour <i class="material-icons infoIcon">info</i></label>

            <ul class="stars">
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star</i></li>

              <li class="reviewtext"> &bull; 21 Reviews</li>
            </ul> <br />

            <button class="bookNow">View profile</button>
          </div>
        </div>
      </div>
    </div>


    <div class="col"></div>
  </div>


  <div class="row">
   <div class="col s12"><h1 class="homeTitle">Gigs Near You</h1></div>
  </div>

  <div class="row scrollableBoi" dragScroll>
    <div class="col">
      <div class="GIGLCard">
        <div class="splitter">
          <img src="https://static.spin.com/files/140129-jimi-hendrix-640x426.jpg" class="toprofileimage imgsplit">
          <img src="http://www.ultimategoldcoast.com.au/wp-content/uploads/2014/01/Bobby-Alu-at-Soundlounge.jpg" class="toprofileimage imgsplit">
        </div>

        <div class="overTopProfileImage"></div>

        <div class="coremiddle">

          <div class="thisside">
            <label class="nPlaying">Currumbin, Gold Coast &bull; FREE</label>
            <i class="hearticon icon-heart" *ngIf="liked != 1" (mousedown)="fullHeart(1)"></i>
            <i class="hearticon redheart icon-heartfilled" *ngIf="liked == 1" (mousedown)="unfullHeart()"></i>
            <br />
            <label class="Song smalelrsong"><span class="songartist">Jimi Hendrix</span> <br /> at  <span>SoundLounge</span></label>
            <label class="Price PricEGig">March 24th, 2018. 8:00PM</label> <br />

            <button class="bookNow bookdualnevune">View Gig</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="GIGLCard">

          <div class="splitter">
            <img src="https://static1.squarespace.com/static/563326b4e4b0ca3d190f1ae7/56f4bb58b2d7c7a56b43abc4/57739e97725e258679206903/1467195083441/Arterium_XR_089b.jpg?format=750w" class="toprofileimage imgsplit">
            <img src="https://www.familiesmagazine.com.au/wp-content/uploads/2016/11/Christmas-at-Miami-Marketta-01.jpg" class="toprofileimage imgsplit">
          </div>

        <div class="overTopProfileImage"></div>

        <div class="coremiddle">

          <div class="thisside">
            <label class="nPlaying">Miami, Gold Coast &bull; $225</label>
            <i class="hearticon icon-heart" *ngIf="liked != 2" (mousedown)="fullHeart(2)"></i>
            <i class="hearticon redheart icon-heartfilled" *ngIf="liked == 2" (mousedown)="unfullHeart()"></i>
            <br />
            <label class="Song smalelrsong"><span class="songartist">Xavier Rudd</span> <br /> at  <span>Miami Marketta</span></label>
            <label class="Price PricEGig">March 28th, 2018. 8:00PM</label> <br />

            <button class="bookNow bookdualnevune">View Gig</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="GIGLCard">

        <div class="splitter">
          <img src="http://www.guitarnoise.com/images/features/pink-floyd-wallpaper-1024x585.jpg" class="toprofileimage imgsplit">
            <img src="https://theweekendedition.com.au/wp-content/uploads/sites/6/2016/01/IMG_8324Garden-Kitchen-Bar-1500x936-c-center.jpg" class="toprofileimage imgsplit">
        </div>

        <div class="overTopProfileImage"></div>


        <div class="coremiddle">

          <div class="thisside">
            <label class="nPlaying">Robina, Gold Coast &bull; FREE</label>
            <i class="hearticon icon-heart" *ngIf="liked != 3" (mousedown)="fullHeart(3)"></i>
            <i class="hearticon redheart icon-heartfilled" *ngIf="liked == 3" (mousedown)="unfullHeart()"></i>
            <br />
            <label class="Song smalelrsong"><span class="songartist">Pink Floyd</span> <br /> at  <span>Garden Kitchen Bar</span></label>
            <label class="Price PricEGig">March 31st, 2018. 8:00PM</label> <br />

            <button class="bookNow bookdualnevune">View Gig</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="GIGLCard">

        <div class="splitter">
          <img src="https://i1.wp.com/www.sunrecords.com/wp-content/uploads/2012/03/cash.jpg" class="toprofileimage imgsplit">
          <img src="http://www.ultimategoldcoast.com.au/wp-content/uploads/2014/01/Bobby-Alu-at-Soundlounge.jpg" class="toprofileimage imgsplit">
        </div>

        <div class="overTopProfileImage"></div>

        <div class="coremiddle">


          <div class="thisside">
            <label class="nPlaying">Currumbin, Gold Coast &bull; $125</label>
            <i class="hearticon icon-heart" *ngIf="liked != 4" (mousedown)="fullHeart(4)"></i>
            <i class="hearticon redheart icon-heartfilled" *ngIf="liked == 4" (mousedown)="unfullHeart()"></i>
            <br />
            <label class="Song smalelrsong"><span class="songartist">Johnny Cash</span> <br /> at  <span>SoundLounge</span></label>
            <label class="Price PricEGig">March 25th, 2018. 2:00PM</label> <br />

            <button class="bookNow bookdualnevune">View Gig</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="GIGLCard">

        <div class="splitter">
          <img src="https://f4.bcbits.com/img/0010184835_10.jpg" class="toprofileimage imgsplit">
          <img src="http://www.ultimategoldcoast.com.au/wp-content/uploads/2014/01/Bobby-Alu-at-Soundlounge.jpg" class="toprofileimage imgsplit">
        </div>

        <div class="overTopProfileImage"></div>

        <div class="coremiddle">

          <div class="thisside">
            <label class="nPlaying">Southport, Gold Coast &bull; $82</label>
            <i class="hearticon icon-heart" *ngIf="liked != 5" (mousedown)="fullHeart(5)"></i>
            <i class="hearticon redheart icon-heartfilled" *ngIf="liked == 5" (mousedown)="unfullHeart()"></i>
            <br />
            <label class="Song smalelrsong"><span class="songartist">Sufjan Stevens</span> <br /> at  <span>RSL Southport</span></label>
            <label class="Price PricEGig">March 29th, 2018. 1:00PM</label> <br />

            <button class="bookNow bookdualnevune">View Gig</button>
          </div>
        </div>
      </div>
    </div>


    <div class="col"></div>
  </div>


  <div class="row">
   <div class="col s12"><h1 class="homeTitle">GIGL Spotlight</h1></div>
  </div>

  <div class="row">
   <div class="col s12">
     <div class="topBanner" style="background-image: none; background-position: center; color: #EF2F49; text-shadow: none;">
       Gold Coast Gig Guide <br />
       <hr />
       <label style="font-size: 32px;display: block; margin-left: 7%;">Coming June, 2016</label>
       <br /><br />

       <img src="assets/google-maps.png" class="halfimg" />
       <!-- <button class="learnMore flippedBtn" style="background-color: #EF2F49; color: #fff">View Profile</button> -->
     </div>
   </div>
  </div>

  <div class="row" style="padding-top: 5%; padding-bottom: 3%">
   <div class="col s12"><p class="legal">Copyright GIGL 2017. Website designed by <a>First Order Solutions</a></p></div>
  </div>


</div>
